.attribution {
    bottom: 0;
    position: absolute;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: 'Montserrat', serif;
    font-size: 14px;
    font-weight: 700;
}

h1 {
    font-family: "Fraunces", serif;
}

h4 {
    font-family: "Montserrat", monospace;
    font-weight: 500;
}

.container {
    position: absolute;
    left: 450px;
    top: 120px;
}

.image {
    border-radius: 15px 0 0 15px;
    float: left;
    width: 300px;
    height: 420px;
}

.description {
    background-color: white;
    border: auto 20px auto 20px;
    border-radius: 0 15px 15px 0;
    display: inline-block;
    height: 400px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 240px;
    word-wrap: break-word;
}

.new_price {
    color: hsl(158, 36%, 37%);
    display: inline;
    font-size: xx-large;
}

.old_price {
    display: inline;
    text-decoration: line-through;
}

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #34d9b8;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #1a694c;
    text-decoration: none;
  }
